@import 'guide.scss';

// Main Container
.main-wrapper {
	display: grid;
	grid-template-columns: repeat(3, 2fr);
	width: 900px;
	height: 500px;
	font-family: $primary-font;
}

// Cards Styles
.card {
	padding: 50px;
}
.sedans-info {
	background-color: $bright-orange;
	border-radius: 10px 0 0 10px;
}
.suvs-info {
	background-color: $dark-cyan;
}
.luxury-info {
	background-color: $very-dark-cyan;
	border-radius: 0 10px 10px 0;
}

// Cards Content Styles
.card__title {
	font-family: $secondary-font;
	font-size: $lg-size;
	color: $very-light-gray;
	text-transform: uppercase;
}
.card__description {
	font-size: $sm-size;
	line-height: 1.6;
	color: $transparent-white;
}

// Button Card Styles
.learn-btn {
	width: 150px;
	height: 50px;
	margin-top: 80px;
	font-size: $sm-size;
	font-weight: bold;
	color: $very-light-gray;
	border: solid 2px $very-light-gray;
	border-radius: 25px;
	transition: background-color 600ms;
	&:hover {
		background-color: $very-light-gray;
		cursor: pointer;
	}
}
.sedans-btn {
	background-color: $bright-orange;
	&:hover {
		color: $bright-orange;
	}
}
.suvs-btn {
	background-color: $dark-cyan;
	&:hover {
		color: $dark-cyan;
	}
}
.luxury-btn {
	background-color: $very-dark-cyan;
	&:hover {
		color: $very-dark-cyan;
	}
}
